In [18]:
import pandas as pd 
import numpy as np

from sklearn.model_selection import train_test_split
import category_encoders as ce
import re
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')


import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\PC\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [19]:
# reading .csv file
df=pd.read_csv(r"C:\Users\PC\OneDrive\Desktop\GW\sem_2\dvn_ml\car_price\Carprice-prediction-deployment\data\used_car_sales.csv")
df.drop(['ID','zipcode','NumCylinders','Engine'],axis = 1, inplace = True)
print('Dataframe has {} rows and {} columns'.format(df.shape[0],df.shape[1]))
df.head()

Dataframe has 122144 rows and 9 columns

   pricesold  yearsold  Mileage               Make               Model  Year           Trim     BodyType DriveType
0       7500      2020    84430               Ford             Mustang  1988             LX        Sedan       RWD
1      15000      2019        0  Replica/Kit Makes  Jaguar Beck Lister  1958            NaN  Convertible       RWD
2       8750      2020    55000             Jaguar                 XJS  1995  2+2 Cabriolet  Convertible       RWD
3      11600      2019    97200               Ford             Mustang  1968          Stock        Coupe       RWD
4      44000      2019    40703            Porsche                 911  2002     Turbo X-50        Coupe       AWD

In [20]:
car_makes = list(df.Make.value_counts().head(30).index)

print(df.shape)
df_1 = df[df['Make'].isin(car_makes)]
print(df_1.shape)

(122144, 9)
(111283, 9)

In [21]:
df_1.head()

   pricesold  yearsold  Mileage     Make      Model  Year           Trim     BodyType DriveType
0       7500      2020    84430     Ford    Mustang  1988             LX        Sedan       RWD
2       8750      2020    55000   Jaguar        XJS  1995  2+2 Cabriolet  Convertible       RWD
3      11600      2019    97200     Ford    Mustang  1968          Stock        Coupe       RWD
4      44000      2019    40703  Porsche        911  2002     Turbo X-50        Coupe       AWD
5        950      2020    71300  Mercury  Montclair  1965            NaN        Sedan       RWD

In [22]:
df_1['age'] = df_1['yearsold'] - df_1['Year']
df_1.head()

   pricesold  yearsold  Mileage     Make      Model  Year           Trim     BodyType DriveType  age
0       7500      2020    84430     Ford    Mustang  1988             LX        Sedan       RWD   32
2       8750      2020    55000   Jaguar        XJS  1995  2+2 Cabriolet  Convertible       RWD   25
3      11600      2019    97200     Ford    Mustang  1968          Stock        Coupe       RWD   51
4      44000      2019    40703  Porsche        911  2002     Turbo X-50        Coupe       AWD   17
5        950      2020    71300  Mercury  Montclair  1965            NaN        Sedan       RWD   55

In [23]:
df_1[df_1['Model']=='Mustang'].head(10)

     pricesold  yearsold  Mileage  Make    Model  Year   Trim     BodyType DriveType  age
0         7500      2020    84430  Ford  Mustang  1988     LX        Sedan       RWD   32
3        11600      2019    97200  Ford  Mustang  1968  Stock        Coupe       RWD   51
43       45400      2019     2357  Ford  Mustang  2016  Roush        Coupe       RWD    3
47        6100      2020    88600  Ford  Mustang  1988    NaN  Convertible       RWD   32
56         760      2019   144002  Ford  Mustang  1987     LX        Coupe       RWD   32
57       13410      2019    51793  Ford  Mustang  1992     GT        Coupe       RWD   27
84       16600      2019     1008  Ford  Mustang  1967     GT        Coupe       RWD   52
85        9400      2020    56054  Ford  Mustang  1985     GT  Convertible       RWD   35
96        2650      2020    89592  Ford  Mustang  1993     LX  Convertible       RWD   27
106       2030      2020   225000  Ford  Mustang  2003     GT  Convertible       RWD   17

In [24]:
model_list = list(df_1['Model'].value_counts().head(500).index)
df = df_1[df_1['Model'].isin(model_list)]
df.head()

   pricesold  yearsold  Mileage        Make     Model  Year           Trim     BodyType DriveType  age
0       7500      2020    84430        Ford   Mustang  1988             LX        Sedan       RWD   32
2       8750      2020    55000      Jaguar       XJS  1995  2+2 Cabriolet  Convertible       RWD   25
3      11600      2019    97200        Ford   Mustang  1968          Stock        Coupe       RWD   51
4      44000      2019    40703     Porsche       911  2002     Turbo X-50        Coupe       AWD   17
7      70000      2019     6500  Land Rover  Defender  1997            NaN          NaN       4WD   22

In [25]:
df.shape

(105953, 10)

In [26]:
grouped_model_year = df.groupby(['Model', 'Year'])

# Fill missing values in Trim, BodyType, and DriveType using the mode of the grouped data (Model and Year)
df['Trim'] = grouped_model_year['Trim'].apply(lambda x: x.fillna(x.mode().iloc[0] if not x.mode().empty else x))
df['BodyType'] = grouped_model_year['BodyType'].apply(lambda x: x.fillna(x.mode().iloc[0] if not x.mode().empty else x))
df['DriveType'] = grouped_model_year['DriveType'].apply(lambda x: x.fillna(x.mode().iloc[0] if not x.mode().empty else x))

# Group by Model only
grouped_model = df.groupby(['Model'])

# Fill any remaining missing values in Trim, BodyType, and DriveType using the mode of the grouped data (Model)
df['Trim'] = grouped_model['Trim'].apply(lambda x: x.fillna(x.mode().iloc[0] if not x.mode().empty else x))
df['BodyType'] = grouped_model['BodyType'].apply(lambda x: x.fillna(x.mode().iloc[0] if not x.mode().empty else x))
df['DriveType'] = grouped_model['DriveType'].apply(lambda x: x.fillna(x.mode().iloc[0] if not x.mode().empty else x))

In [27]:
df.isnull().sum()

pricesold    0
yearsold     0
Mileage      0
Make         0
Model        0
Year         0
Trim         0
BodyType     0
DriveType    0
age          0
dtype: int64

In [28]:

# Assuming your main dataframe is named 'df'

# Calculate the total count of each Model and Trim combination
model_trim_counts = df.groupby(['Model', 'Trim']).size().reset_index(name='count')

# Sort the data by Model and count in descending order to get the top most repeating trims first
model_trim_counts = model_trim_counts.sort_values(['Model', 'count'], ascending=[True, False])

# Calculate the total count of each Model
model_counts = model_trim_counts.groupby('Model')['count'].sum().reset_index(name='total_count')

# Merge the total count of each Model back to the model_trim_counts dataframe
model_trim_counts = model_trim_counts.merge(model_counts, on='Model')

# Calculate the cumulative sum of counts by Model, and the percentage of each Trim count in the Model
model_trim_counts['cumulative_sum'] = model_trim_counts.groupby('Model')['count'].cumsum()
model_trim_counts['percentage'] = model_trim_counts['cumulative_sum'] / model_trim_counts['total_count']

# Filter the data to keep only those observations whose collection of trims make up to 90% of the particular model
# and have a count of at least 5
filtered_model_trim_counts = model_trim_counts[(model_trim_counts['percentage'] <= 0.9) & (model_trim_counts['count'] >= 10)]

# Merge the filtered Model and Trim data back to the original dataframe
filtered_df = df.merge(filtered_model_trim_counts[['Model', 'Trim']], on=['Model', 'Trim'])
filtered_df.drop(['Year','yearsold'],axis = 1, inplace=True)

In [29]:
filtered_df

       pricesold  Mileage  Make    Model                  Trim     BodyType DriveType  age
0           7500    84430  Ford  Mustang                    LX        Sedan       RWD   32
1            760   144002  Ford  Mustang                    LX        Coupe       RWD   32
2           2650    89592  Ford  Mustang                    LX  Convertible       RWD   27
3          13900    91000  Ford  Mustang                    LX        Coupe       RWD   28
4           6550   100000  Ford  Mustang                    LX    Hatchback       RWD   33
...          ...      ...   ...      ...                   ...          ...       ...  ...
61290      26320    28135  Audi       A4  Premium Plus quattro        Sedan       AWD    3
61291      32980    27267  Audi       A4  Premium Plus quattro        Sedan       AWD    2
61292      37950     6251  Audi       A4  Premium Plus quattro        Sedan       AWD    0
61293      18410    33317  Audi       A4  Premium Plus quattro        Sedan       AWD    5
61294      24350    13850  Audi       A4  Premium Plus quattro        Sedan       AWD    4

[61295 rows x 8 columns]

In [30]:
filtered_df.rename({"pricesold":'selling_price', "Make":'brand'},axis = 1,inplace=True)
filtered_df

       selling_price  Mileage brand    Model                  Trim     BodyType DriveType  age
0               7500    84430  Ford  Mustang                    LX        Sedan       RWD   32
1                760   144002  Ford  Mustang                    LX        Coupe       RWD   32
2               2650    89592  Ford  Mustang                    LX  Convertible       RWD   27
3              13900    91000  Ford  Mustang                    LX        Coupe       RWD   28
4               6550   100000  Ford  Mustang                    LX    Hatchback       RWD   33
...              ...      ...   ...      ...                   ...          ...       ...  ...
61290          26320    28135  Audi       A4  Premium Plus quattro        Sedan       AWD    3
61291          32980    27267  Audi       A4  Premium Plus quattro        Sedan       AWD    2
61292          37950     6251  Audi       A4  Premium Plus quattro        Sedan       AWD    0
61293          18410    33317  Audi       A4  Premium Plus quattro        Sedan       AWD    5
61294          24350    13850  Audi       A4  Premium Plus quattro        Sedan       AWD    4

[61295 rows x 8 columns]

In [31]:
# brand_car_dict={}
# mean_sell=filtered_df.groupby(['brand','Model'])['selling_price'].mean().reset_index()
# car_brands=mean_sell.brand.unique()
# for car_brand in car_brands:
#     cars=list(mean_sell.loc[mean_sell['brand']==car_brand,'Model'].unique())
#     brand_car_dict[car_brand]=cars
# brand_car_dict

In [32]:
# import json
# with open("brand_car_dict_new.json","w") as f:
#     f.write(json.dumps(brand_car_dict))

In [33]:
target='selling_price'
x=list(filtered_df.columns)
x.remove(target)

In [34]:
filtered_df[x]

       Mileage brand    Model                  Trim     BodyType DriveType  age
0        84430  Ford  Mustang                    LX        Sedan       RWD   32
1       144002  Ford  Mustang                    LX        Coupe       RWD   32
2        89592  Ford  Mustang                    LX  Convertible       RWD   27
3        91000  Ford  Mustang                    LX        Coupe       RWD   28
4       100000  Ford  Mustang                    LX    Hatchback       RWD   33
...        ...   ...      ...                   ...          ...       ...  ...
61290    28135  Audi       A4  Premium Plus quattro        Sedan       AWD    3
61291    27267  Audi       A4  Premium Plus quattro        Sedan       AWD    2
61292     6251  Audi       A4  Premium Plus quattro        Sedan       AWD    0
61293    33317  Audi       A4  Premium Plus quattro        Sedan       AWD    5
61294    13850  Audi       A4  Premium Plus quattro        Sedan       AWD    4

[61295 rows x 7 columns]

In [35]:
drive = list(filtered_df['DriveType'].value_counts().head().index)
filtered_df = filtered_df[filtered_df['DriveType'].isin(drive)]

In [36]:
x_train, x_test, y_train, y_test = train_test_split(filtered_df[x],filtered_df[target],random_state=10,stratify=filtered_df['Model'],test_size=0.20)
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

x_train.head()

(46547, 7) (11637, 7) (46547,) (11637,)

       Mileage      brand           Model        Trim             BodyType DriveType  age
44982   149000     Toyota           Camry         XLE                Sedan       FWD   18
35133   112577     Toyota    Land Cruiser       FJ 40                  SUV       4WD   41
27573    32000       Ford         Mustang       Cobra                Coupe       RWD   22
52192   400000       Ford          Bronco  Bronco 4x4       soft top wagon       4WD   50
37606     3400  Chevrolet  Silverado 1500          LT  Extended Cab Pickup       4WD    2

In [37]:
def outlier_flag(df_in, col_name):
    q1 = df_in[col_name].quantile(0.25)
    q3 = df_in[col_name].quantile(0.75)
    iqr = q3-q1 #Interquartile range
    fence_low  = q1-1.5*iqr
    fence_high = q3+1.5*iqr
    print(fence_low,fence_high)
    df_in.loc[((df_in[col_name] < fence_low) | (df_in[col_name] > fence_high)),'outlier_flag']='o_'+col_name
    return df_in

In [38]:
filtered_df.shape

(58184, 8)

In [39]:
for data in [x_train,x_test]:
    for col in ['Mileage','age']:
        data=outlier_flag(data,col)
    data['outlier_flag'].fillna(value='no_outlier',inplace=True)

-97356.0 299780.0
-36.5 95.5
-95000.0 297000.0
-36.5 95.5

In [40]:
iqr_dict={'Mileage_low':0,'Mileage_high':0,'age_low':0,'age':0}
def outlier_flag(df_in, col_name,is_test_df=False):
    if is_test_df==True:
        fence_low=iqr_dict[col+'_low']
        fence_high=iqr_dict[col+'_high']
        df_in.loc[((df_in[col_name] < fence_low) | (df_in[col_name] > fence_high)),'outlier_flag']='o_'+col_name
    else:
        q1 = df_in[col_name].quantile(0.25)
        q3 = df_in[col_name].quantile(0.75)
        iqr = q3-q1 #Interquartile range
        fence_low  = q1-1.5*iqr
        fence_high = q3+1.5*iqr
        iqr_dict[col+'_low']=fence_low
        iqr_dict[col+'_high']=fence_high
        df_in.loc[((df_in[col_name] < fence_low) | (df_in[col_name] > fence_high)),'outlier_flag']='o_'+col_name
    return df_in

In [41]:
iqr_dict

{'Mileage_low': 0, 'Mileage_high': 0, 'age_low': 0, 'age': 0}

In [42]:
# iqr_dict
# with open("iqr_dict_new.json","w") as f:
#     f.write(json.dumps(iqr_dict))

In [43]:
for text,data in [('train',x_train),('test',x_test)]:
    for col in ['Mileage','age']:
        if text=='test':
            is_test_df=True
        else:
            is_test_df=False
        data=outlier_flag(data,col,is_test_df)
    data['outlier_flag'].fillna(value='no_outlier',inplace=True)

In [44]:
te=ce.TargetEncoder(verbose=1,cols=['Model'])

In [45]:
x_train=te.fit_transform(x_train,y_train,)
x_test=te.transform(x_test)
x_train.head()

       Mileage      brand         Model        Trim             BodyType DriveType  age outlier_flag
44982   149000     Toyota   4372.428571         XLE                Sedan       FWD   18   no_outlier
35133   112577     Toyota  12867.171946       FJ 40                  SUV       4WD   41   no_outlier
27573    32000       Ford  13583.917402       Cobra                Coupe       RWD   22   no_outlier
52192   400000       Ford  12079.503759  Bronco 4x4       soft top wagon       4WD   50    o_Mileage
37606     3400  Chevrolet  10443.357934          LT  Extended Cab Pickup       4WD    2   no_outlier

In [46]:
# import pickle
# with open('target_encoder_new.pickle','wb') as f:
#     pickle.dump(te,f)

In [47]:
x_train=pd.get_dummies(x_train)
x_test=pd.get_dummies(x_test)
print(x_train.shape,x_test.shape)

(46547, 1817) (11637, 1239)

In [48]:
x_train_cols=x_train.columns
x_test_cols=x_test.columns

missing=(set(x_train_cols)-set(x_test_cols))
for str in missing:
    x_test[str]=0
    
missing=(set(x_test_cols)-set(x_train_cols))
for str in missing:
    x_train[str]=0
    

x_train_cols=x_train.columns
x_test_cols=x_test.columns
(set(x_train_cols)-set(x_test_cols))

set()

In [49]:
# with open("train_cols_new.json","w") as f:
#     f.write(json.dumps(list(x_train_cols)))

In [50]:
print(x_train.shape,x_test.shape)

(46547, 1947) (11637, 1947)

In [51]:
#importing required packages for model building
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error,r2_score

In [52]:
def mean_absolute_percentage_error(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [53]:
from sklearn.model_selection import learning_curve
def plot_learning_curve(estimator, title, X, y, ylim=None, cv=None,n_jobs=None, train_sizes=np.linspace(.1, 1.0, 10)):
    
    plt.figure()
    plt.title(title)
    if ylim is not None:
        plt.ylim(*ylim)
    plt.xlabel("Training examples")
    plt.ylabel("Score")
    train_sizes, train_scores, test_scores = learning_curve(
        estimator, X, y, cv=cv, n_jobs=n_jobs, train_sizes=train_sizes)
    train_scores_mean = np.mean(train_scores, axis=1)
    train_scores_std = np.std(train_scores, axis=1)
    test_scores_mean = np.mean(test_scores, axis=1)
    test_scores_std = np.std(test_scores, axis=1)
    plt.grid()

    plt.fill_between(train_sizes, train_scores_mean - train_scores_std,
                     train_scores_mean + train_scores_std, alpha=0.1,
                     color="r")
    plt.fill_between(train_sizes, test_scores_mean - test_scores_std,
                     test_scores_mean + test_scores_std, alpha=0.1, color="g")
    plt.plot(train_sizes, train_scores_mean, 'o-', color="r",
             label="Training score")
    plt.plot(train_sizes, test_scores_mean, 'o-', color="g",
             label="Cross-validation score")

    plt.legend(loc="best")
    return plt

In [54]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor()
rf.get_params

In [55]:
#creating parameter grid for random search
grid_forest_1={'criterion':['mse','mae'],
      'n_estimators':np.arange(5,100,5),
      'max_depth':np.arange(2,7,1),
      'min_samples_split':np.arange(0.01,0.1,0.02),
      'max_features':['log2','sqrt','auto'],    
      'min_weight_fraction_leaf':np.arange(0.001,0.25,0.05)
}

rf_random=RandomizedSearchCV(estimator=rf,param_distributions=grid_forest_1,n_iter=100,n_jobs=-1,cv=3,verbose=1,random_state=1)


rf_random.fit(x_train,y_train)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

KeyboardInterrupt:

In [ ]:
rf_random=rf_random.best_estimator_
np.sqrt(mean_squared_error(rf_random.predict(x_test),y_test))

In [ ]:
rf.fit(x_train,y_train)

In [ ]:
np.sqrt(mean_squared_error(rf.predict(x_test),y_test))